*.py[cod]
*.so
*.ipynb_checkpoints/*
/build
/dist
/*.egg-info

# remove paper JOSS for now
paper/Makefile
paper/*.png
paper/*.template
paper/*.aux
paper/*.bcf
paper/*.log
paper/*.out
paper/*.pdf
paper/*.run.xml
paper/*.tex
paper/*.py
paper/*.blg
paper/*.bbl
